# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ project files
*.iml
.idea/

# Eclipse project files
.classpath
.project
.settings/
.factorypath

# MacOS makes this one
.DS_Store
